/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* General */

*{
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    transition: all 0.3s ease-out;
}

a:hover{
    color: #CC3900;
    transition: all 0.3s ease-out;
}

.btn{
    border: 1px solid #CC3900;
    padding: 10px 20px;
}

#burger{
    display: none;
}

/* Header */

header{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

header nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    gap: 40px;
}

#active{
    color: #CC3900;
}

.icons{
    color: #CC3900;
    font-size: 25px;
    display: flex;
    gap: 20px;
}

/* Section 1 */

.section1{
    background: #FBBBCD;
}

.section1 div{
    max-width: 1440px;
    margin: auto;
    text-align: center;
}

.section1 article h2{
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-size: 45px;
    padding: 100px 0;
}

/* Section 2 */

.section2{
    max-width: 1440px;
    margin: auto;
}

.actu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.actu div{
    margin-bottom: 20px;
}

.actu div img{
    width: 463px;
    height: 463px;
    object-fit: cover;
}

.section2 article{
    padding: 80px 0;
}

.actu div a p{
    font-weight: 400;
    padding: 5px 0;
}

.blue{
    color: blue;
    font-weight: 400;
}

.btnActu{
    background: #605BE5;
    text-align: center;
    grid-column: 2/3;
    width: 200px;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
}

/* Footer */

footer{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 10px;
}

footer div ul{
    list-style: none;
    display: flex;
    padding: 0;
    gap: 40px;
}

footer p{
    margin-top: 40px;
    text-align: center;
}

footer div p a{
    font-weight: 400;
}


@media screen and (max-width:1024px){

    #burger{
        display: block;
    }

    header nav{
        display: none;
    }

    footer div{
        display: none;
    }

    .actu{
        grid-template-columns: repeat(2, 1fr);
        padding-left: 20px;
    }

    .btnActu{
        grid-column: 1/3;
    }
}



/* Responsive mobile */

@media screen and (max-width:767px){

    .actu{
        display: block;
    }

    .actu div{
        width: 80%;
    }

    .section1 article h2{
        font-size: 30px;
    }
    
}