/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* General */

*{
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    transition: all 0.3s ease-out;
}

a:hover{
    color: #CC3900;
    transition: all 0.3s ease-out;
}

.btn{
    border: 1px solid #CC3900;
    padding: 10px 20px;
}

/* Header */

header{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

header nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    gap: 40px;
}

#active{
    color: #CC3900;
}

.icons{
    color: #CC3900;
    font-size: 25px;
    display: flex;
    gap: 20px;
}

/* Section Contact */

.section1{
    max-width: 1440px;
    margin: auto;
    padding: 40px 0;
}

.section1 article{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section1 article div i{
    color: #CC3900;
    font-size: 16px;
}

.section1 article div h2{
    font-family: "Gloria Hallelujah", cursive;
    font-size: 45px;
    font-weight: 400;
}

.size{
    width: 77%;
}

.section1 p{
    margin-bottom: 20px;
}

.size div{
    display: flex;
    gap: 20px;
    align-items: baseline;
}

.size div p{
    font-family: "Gloria Hallelujah", cursive;
    font-size: 20px;
}

.formulaire{
    width: 455px;
    margin: auto 0;
    background-image: url("../img/section1/background-photo.png");
    background-repeat: no-repeat;
    background-position: 130%;
    padding-right: 230px;
}

form input{
    width: 100%;
    margin: 10px 0;
}

form textarea{
    width: 100%;
    height: 183px;
    margin: 10px 0;
}

form label{
    font-size: 16px;
}

form div:nth-last-child(1){
    background: #FBBBCD;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

form div a{
    color: #fff;
}

/* Footer */

footer{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 10px;
}

footer div ul{
    list-style: none;
    display: flex;
    padding: 0;
    gap: 40px;
}

footer p{
    margin-top: 40px;
    text-align: center;
}

footer div p a{
    font-weight: 400;
}