/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* General */

*{
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    transition: all 0.3s ease-out;
}

a:hover{
    color: #CC3900;
    transition: all 0.3s ease-out;
}

/* Header */

header{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

header nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    gap: 40px;
}

#active{
    color: #CC3900;
}

.icons{
    color: #CC3900;
    font-size: 25px;
    display: flex;
    gap: 20px;
}

/* Section 1 */

.section1{
    max-width: 1440px;
    margin: auto;
}

.section1 > div:nth-child(1){
    display: flex;
    justify-content: space-between;
    background-image: url("../img/section1/background-photo.png");
    background-repeat: no-repeat;
    background-size: 64%;
    background-position: 131%;
    padding: 80px;
    padding-left: 0;
}

.profil{
    width: 35%;
    margin: auto 0;
}

.profil div{
    display: flex;
    align-items: center;
    color: #CC3900;
    gap: 5px;
    text-transform: uppercase;
    font-weight: 500;
}

.profil div hr{
    width: 50px;
}

.profil h1{
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-size: 45px;
    margin-top: 20px;
}

.profil h2{
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 10px;
}

.profil p{
    font-size: 16px;
    line-height: 24px;
}

.mb40{
    margin-bottom: 40px;
}

.profil a{
    border: 1px solid #CC3900;
    padding: 10px 20px;
}

/* Section 2 */

.galerie{
    max-width: 1903px;
    margin: auto;
    display: flex;
}

.galerie article:nth-child(1){
    width: 69%;
    padding: 100px;
}

.galerie article h2{
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-size: 45px;
    text-align: center;
    margin-bottom: 50px;
}

.background{
    background: #FBBBCD;
}

.grid4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid4 img{
    width: 95%;
    height: 400px;
    object-fit: cover;
}

.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid2 img{
    width: 95%;
    height: 400px;
    object-fit: cover;
}

.galerie article p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

/* Footer */

footer{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 10px;
}

footer div ul{
    list-style: none;
    display: flex;
    padding: 0;
    gap: 40px;
}

footer p{
    margin-top: 40px;
    text-align: center;
}

footer div p a{
    font-weight: 400;
}