/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* General */

*{
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    transition: all 0.3s ease-out;
}

a:hover{
    color: #CC3900;
    transition: all 0.3s ease-out;
}

.btn{
    border: 1px solid #CC3900;
    padding: 10px 20px;
}

#burger{
    display: none;
}

/* Header */

header{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

header nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    gap: 40px;
}

#active{
    color: #CC3900;
}

.icons{
    color: #CC3900;
    font-size: 25px;
    display: flex;
    gap: 20px;
}

/* Section 1 */

.section1{
    max-width: 1440px;
    margin: auto;
    padding-left: 15px;
}

.section1 > div:nth-child(1){
    display: flex;
    justify-content: space-between;
    background-image: url("../img/section1/background-photo.png");
    background-repeat: no-repeat;
    background-size: 64%;
    background-position: 131%;
    padding: 80px;
    padding-left: 0;
}

.section1 div img{
    object-fit: cover;
}

.profil{
    width: 35%;
    margin: auto 0;
}

.profil div{
    display: flex;
    align-items: center;
    color: #CC3900;
    gap: 5px;
    text-transform: uppercase;
    font-weight: 500;
}

.profil div hr{
    width: 50px;
}

.profil h1{
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-size: 45px;
    margin-top: 20px;
}

.profil h2{
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 10px;
}

.profil p{
    font-size: 16px;
    line-height: 24px;
}

.mb40{
    margin-bottom: 40px;
}

/* Section 2 */

.section2{
    padding: 100px 0;
}

.galerie{
    margin: auto;
    display: flex;
}

.galerie article:nth-child(1){
    width: 69%;
    padding: 100px;
    padding-bottom: 0;
}

.galerie article h2{
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-size: 45px;
    text-align: center;
    margin-bottom: 50px;
}

.background{
    background: #FBBBCD;
}

.imgSize{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 15px;
}

.imgSize img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.imgSize p{
    text-decoration: underline ;
}

.imgSize img:nth-child(5){
    grid-column: 1/3;
}

.imgSize img:nth-child(6){
    grid-column: 3/5;
}

.galerie article p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

/* Section 3 */

.section3{
    max-width: 1440px;
    margin: auto;
    padding: 100px 0 150px;
}

.section3 h2{
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-size: 45px;
}

.section3 article:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.section3 article:nth-child(2){
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.section3 article div img{
    height: 300px;
    width: 332px;
}

.section3 article div h3{
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 10px;
}

/* Section 4 */

.section4{
    background: #F7F7F7;
    padding-bottom: 100px;
}

.size{
    max-width: 1440px;
    margin: auto;
}

.section4 h2{
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-size: 45px;
    text-align: center;
    padding: 50px 0;
}

.section4 article{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.section4 article img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.section4 article div h3{
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    padding: 5px 0;
}
.section4 article div p{
    font-size: 14px;
}

.flexDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

/* Section 5*/

.section5{
    max-width: 1440px;
    margin: auto;
    padding: 100px 0;
}

.section5 article:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section5 article h2{
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-size: 45px;
}

.section5 article:nth-child(2){
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.section5 article img{
    width: 100%;
}

.section5 article div a h3{
    font-family: "Gloria Hallelujah", cursive;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 0;
}

.date{
    font-size: 14px;
    margin-bottom: 10px;
}

.pStyle{
    font-size: 16px;
    margin-bottom: 20px;
}

/* Section 6 */

.section6{
    background: #CC3900;
}

.section6 div{
    max-width: 800px;
    margin: auto;
    padding: 50px 0 100px;
}

.section6 div article{
    text-align: center;
}

.section6 div article h2{
    font-family: "Gloria Hallelujah", cursive;
    font-size: 45px;
    font-weight: 400;
    width: 87%;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 20px;
    line-height: 1.5;
}

.section6 div article p{
    width: 85%;
    margin: 0 auto;
    margin-bottom: 50px;
    color: #fff;
}

.section6 article a{
    border: 1px solid #fff;
    padding: 10px 20px;
    color: #fff;
}

.section6 article a:hover{
    color: #000;
}

/* Footer */

footer{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 10px;
}

footer div ul{
    list-style: none;
    display: flex;
    padding: 0;
    gap: 40px;
}

footer p{
    margin-top: 40px;
    text-align: center;
}

footer div p a{
    font-weight: 400;
}

/* Responsive tablette */

@media screen and (max-width:1024px){

    #burger{
        display: block;
    }

    header nav{
        display: none;
    }

    footer div{
        display: none;
    }

    .section1 div img{
        width: 400px;
        height: 400px;
    }

    .galerie{
        display: block;
    }

    .galerie article:nth-child(1){
        width: 80%;
        padding-bottom: 50px;
    }

    .section3 article:nth-child(2){
        grid-template-columns: repeat(2, 1fr);
    }

    .section3 article div img{
        width: 90%;
    }

    .section3 article div p{
        margin-bottom: 20px;
    }

    .section3 article{
        margin: 0 20px;
    }

    .section4 article{
        grid-template-columns: repeat(2, 1fr);
        margin: 0 20px;
    }

    .section5 article{
        margin: 0 20px;
        margin-bottom: 20px;
    }

    .section5 article:nth-child(2){
        grid-template-columns: repeat(2, 1fr);
        margin: 0 20px;
    }

}


/* Responsive mobile */

@media screen and (max-width:767px){

    .btn{
        padding: 10px 5px;
    }

    .section1 div img {
        width: 300px;
        height: 300px;
    }

    .profil{
        width: 35%;
    }

    .galerie article:nth-child(1){
        width: 70%;
    }

    .section3 article div img{
        object-fit: cover;
    }
    
    .section3 article:nth-child(2){
        grid-template-columns: repeat(1, 1fr);
    }

    .section4 article{
        grid-template-columns: repeat(1, 1fr);
    }

    .section5 article h2{
        margin-bottom: 20px;
    }

    .section5 article:nth-child(1){
        display: block;
    }

    .section5 article:nth-child(2){
        grid-template-columns: repeat(1, 1fr);
    }
}